.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-parent {
  padding: 5px;
  text-align: right;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-box::-webkit-scrollbar {
  display: none;
}

.chat-bubble.received {
  background: lightcyan;
  width: fit-content;
}

.chat-bubble {
  padding: 10px;
  border: 5px;
}

.chat-bubble span.time {
  font-size: 0.7rem;
  position: relative;
  margin-left: 10px;
  color: #00000082;
}
